.breadcrumb-wrapper{
    margin-bottom: 50px;

    a{
        color: var(--dark-blue);
        text-decoration: none;
        font-weight: 600;
        font-size: 0.8rem;
    }

    img{
        opacity: 0.5;
        margin: 0 10px;
        margin-bottom: 1px;
    }
}